:root {
  --cor-dourado: #C9A84C;
  --cor-escuro: #0f0d0a;
  --cor-texto: #F5F0E8;
  --fonte-titulos: 'Playfair Display', serif;
  --fonte-texto: 'DM Sans', sans-serif;
  --fonte-links: 'Outfit', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-escuro);
  color: var(--cor-texto);
  font-family: var(--fonte-texto);
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: rgba(15, 13, 10, 0.9);
  border-bottom: 1px solid rgba(201, 168, 76, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px 32px;
}

.nav-links {
  text-decoration: none;
  color: var(--cor-texto);
  font-family: var(--fonte-links);
  transition: color 0.3s;
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--cor-texto);
  font-family: var(--fonte-links);
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--cor-dourado);
}

.btn-cta {
  background-color: var(--cor-dourado);
  color: var(--cor-escuro);
  text-decoration: none;
  padding: 10px 22px;
  border-radius: 6px;
  font-weight: bold;
  transition: opacity 0.3s;
}

.btn-cta:hover {
  opacity: 0.85;
}
.menu-toggle {
  display: none;
}

.logo img {
  height: 40px;
  width: auto;
}

main {
  padding-top: 80px;
}

#vendas {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 32px;
}

.vendas-conteudo {
  max-width: 700px;
  margin: 0px auto;
  text-align: center;
}

.vendas-conteudo h1 {
  font-family: var(--fonte-titulos);
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 20px;
}

.destaque {
  color: var(--cor-dourado);
}

.vendas-conteudo p {
  font-size: 1.2rem;
  color: rgba(245, 240, 232, 0.70);
  margin-bottom: 36px;
}

.btn-vendas {
  background-color: var(--cor-dourado);
  color: var(--cor-escuro);
  text-decoration: none;
  padding: 14px 32px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.3s;
}

.btn-vendas:hover {
  opacity: 0.85;
}