:root {
  --cor-dourado: #C9A84C;
  --cor-escuro: #0f0d0a;
  --cor-texto: #F5F0E8;
  --fonte-titulos: 'Playfair Display', serif;
  --fonte-texto: 'DM Sans', sans-serif;
  --fonte-links: 'Outfit', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-escuro);
  color: var(--cor-texto);
  font-family: var(--fonte-texto);
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: rgb(red, green, blue), 13, 10, 0.9;
  border-bottom: 1px solid rgba(201, 168, 76, 0.2)
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px 32px;
}

.nav-links {
  text-decoration: none;
  color: var(--cor-texto);
  font-family: var(--fonte-links);
  transition: color 0.3s;
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--cor-texto);
  font-family: var(--fonte-links);
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--cor-dourado);
}

.btn-cta {
  background-color: #C9A84C;
  text-decoration: #0f0d0a;
  padding: 10px;
  border-radius: 0%;
  font-weight: bold;
}

.menu-toggle {
  display: none;
}